nav {
    display: flex;
    background-color: #1a1a1a;
    height: 50px;
}

.nav-search-form {
    flex-grow: 4;
}

input {
    background-color: #1a1a1a;
    color: #f1f1f1;
    padding-left: 20px;
    border: none;
    height: 50px;
}

.nav-notification-button {
    button {
        background-color: #1a1a1a;
        font-size: 18px;
        color: #f1f1f1;
        border: none;
        height: 50px;
        width: 50px;

        &:hover {
            background-color: #242424;
        }
    }
}

.nav-profile {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #242424;
    }
}

.nav-profile-picture-icon {
    border-radius: 50%;
    height: 70%;
    width: 70%;
}
