<nav class="pl-4 pr-4">
    <form class="nav-search-form">
        <label>
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="Search..." />
        </label>
    </form>
    <div class="nav-notification-button">
        <button><i class="fa fa-bell-o" aria-hidden="true"></i></button>
    </div>
    <a routerLink="/user/{{ currentUser.username }}">
        <div class="nav-profile">
            <img
                *ngIf="currentUser"
                src="{{ s3Endpoint }}/{{ s3Bucket }}/{{
                    currentUser.profilePicture
                }}"
                alt="profile picture"
                class="nav-profile-picture-icon"
            />
        </div>
    </a>
    <button
        (click)="logout()"
        *ngIf="this.authService.isLoggedIn"
        type="button"
        class="btn btn-danger"
        style="font-size: 1.5em;"
    >
        <i class="fa fa-power-off"></i>
    </button>
</nav>
