.profile-pic {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
.artist {
  display: flex;
  padding-left: 1rem;
}

.artist-album {
  padding-left: 1rem;
}
.track {
  .artist {
    margin-top: 10px;
  }
}
.user-info {
  padding-left: 1rem;
}

h1 {
  margin-bottom: 2rem;
}

.col-title {
  margin-bottom: 2rem;
  padding-left: 1rem;
  font-size: 120%;
  font-weight: bold;
}

.track {
  margin-top: 1rem;
}

.row {
  margin-bottom: 5rem;
}
