img {
  max-width: 200px;
}
.pagination {
  padding-bottom: 6rem !important;
}
.album-cover {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.album-info {
  margin-top: 1rem;
}
.artist {
  margin-bottom: 1rem;
}
