<div class="navbar footer fixed-bottom">
    <div [hidden]="!track">
        <div *ngIf="track" class="float-left now-playing col-5">
            <!-- <i class="fa fa-music" aria-hidden="true"></i> -->
            <img
                src="{{ this.s3Service.getURL(track.album.coverFilename) }}"
                class="track-cover rounded col-sm-2"
                alt="track cover"
            />
            <div class="title align-self-center">
                {{ track.user.name }} - {{ track.title }}
            </div>

            <!-- Like button -->
            <i
                *ngIf="!track.favorited"
                class="fa fa-heart-o align-self-center"
                aria-hidden="true"
                (click)="favoriteTrack()"
            ></i>
            <i
                *ngIf="track.favorited"
                class="fa fa-heart align-self-center"
                aria-hidden="true"
                (click)="unfavoriteTrack()"
            ></i>

            <!-- Download button -->
            <a
                *ngIf="track.downloadable"
                href="{{ track.filename }}"
                class="align-self-center"
            >
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>
            <i
                *ngIf="!track.downloadable"
                class="fa fa-download fa-disabled align-self-center"
                aria-disabled="true"
            ></i>
        </div>
        <div class="float-right player col-auto">
            <mat-basic-audio-player
                [audioUrl]="
                    track ? this.s3Service.getURL(track.filename) : null
                "
                [autoPlay]="false"
                muted="muted"
                [displayVolumeControls]="true"
                (trackEnded)="onEnded()"
            ></mat-basic-audio-player>
        </div>
    </div>
    <span [hidden]="track" class="nothing-playing">
        Nothing is playing. Select a track!
    </span>
</div>
