<div class="navbar footer fixed-bottom">
    <div [hidden]="!track">
        <div
            *ngIf="track"
            class="float-left now-playing col-xs-3 col-sm-3 col-md-3"
        >
            <i class="fa fa-music" aria-hidden="true"></i>
            {{ track.user.name }} - {{ track.title }}

            <!-- Like button -->
            <i
                *ngIf="!track.favorited"
                class="fa fa-heart-o"
                aria-hidden="true"
                (click)="favoriteTrack()"
            ></i>
            <i
                *ngIf="track.favorited"
                class="fa fa-heart"
                aria-hidden="true"
                (click)="unfavoriteTrack()"
            ></i>

            <!-- Download button -->
            <a
                *ngIf="track.downloadable"
                href="{{ s3Endpoint }}/{{ s3Bucket }}/{{ track.filename }}"
            >
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>
            <i
                *ngIf="!track.downloadable"
                class="fa fa-download fa-disabled"
                aria-disabled="true"
            ></i>
        </div>
        <div class="float-right player col-xs-9 col-sm-9 col-md-9">
            <mat-basic-audio-player
                [audioUrl]="
                    track
                        ? s3Endpoint + '/' + s3Bucket + '/' + track.filename
                        : null
                "
                [autoPlay]="false"
                muted="muted"
                [displayVolumeControls]="true"
                (trackEnded)="onEnded()"
            ></mat-basic-audio-player>
        </div>
    </div>
    <span [hidden]="track" class="nothing-playing">
        Nothing is playing. Select a track!
    </span>
</div>
