<div class="navbar footer fixed-bottom">
    <div [hidden]="!track">
        <div
            *ngIf="track"
            class="float-left now-playing col-xs-2 col-sm-2 col-md-2"
        >
            <i class="fa fa-music" aria-hidden="true"></i>
            {{ track.user.name }} - {{ track.title }}
        </div>
        <div class="float-right player col-xs-10 col-sm-10 col-md-10">
            <mat-basic-audio-player
                [audioUrl]="
                    track
                        ? s3Endpoint + '/' + s3Bucket + '/' + track.filename
                        : null
                "
                [autoPlay]="false"
                muted="muted"
                [displayVolumeControls]="true"
                (trackEnded)="onEnded()"
            ></mat-basic-audio-player>
        </div>
    </div>
    <span [hidden]="track" class="nothing-playing">
        Nothing is playing. Select a track!
    </span>
</div>
