@import '../variables';

button {
  &:focus {
    outline: none;
  }
}

input {
  &:focus {
    outline: none;
  }
}

textarea {
  &:focus {
    outline: none;
  }
}

select {
  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
}

.right-side {
  background-color: $gray-dark;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
}

.main-content {
  padding: 4rem;

  section {
    margin-bottom: 3em;
  }
}

.navbar {
  margin-bottom: 3em;
}

a {
  color: white;
  border-color: white;
  &:focus {
    border-color: inherit;
  }
}
