<nav *ngIf="!this.authService.isLoggedIn" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Soundhive</a>

    <a class="p-2 text-dark"
       routerLinkActive="active"
       routerLink="/log-in"
    >Sign in</a>

    <a class="btn btn-outline-primary"
       routerLinkActive="active"
       routerLink="/sign-up"
    >Sign up</a>
  </div>
</nav>

<a *ngIf="this.authService.isLoggedIn" class="p-2 text-dark">User Profile</a>

<button (click)="logout()"
        *ngIf="this.authService.isLoggedIn"
        type="button"
        class="btn btn-danger"
>Logout</button>

<router-outlet></router-outlet>
