<nav
    *ngIf="!this.authService.isLoggedIn"
    class="navbar navbar-expand-lg navbar-dark bg-dark"
>
    <div class="container">
        <a class="navbar-brand">Soundhive</a>

        <a class="p-2 text-dark" routerLinkActive="active" routerLink="/login"
            >Sign in</a
        >

        <a
            *ngIf="this.router.url === '/login'"
            class="btn btn-outline-primary"
            routerLinkActive="active"
            routerLink="/register"
            >Register</a
        >

        <a
            *ngIf="this.router.url === '/register'"
            class="btn btn-outline-primary"
            routerLinkActive="active"
            routerLink="/login"
            >Login</a
        >
    </div>
</nav>

<div *ngIf="this.authService.isLoggedIn" class="main-layout container-fluid">
    <div class="row">
        <!-- LEFT SIDE -->
        <app-sidebar></app-sidebar>

        <!-- RIGHT SIDE -->
        <div class="right-side col-md">
            <app-navbar></app-navbar>
            <!--<app-header></app-header>-->
            <div class="main-content container">
                <router-outlet></router-outlet>
            </div>
            <app-player></app-player>
        </div>
    </div>
</div>

<div *ngIf="!this.authService.isLoggedIn">
    <router-outlet></router-outlet>
</div>
