@import '../variables';

button {
  &:focus {
    outline: none;
  }
}

input {
  &:focus {
    outline: none;
  }
}

textarea {
  &:focus {
    outline: none;
  }
}

select {
  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
}

.right-side {
  background-color: $gray-dark;
  padding: 0;
  height: 150vh;
  overflow-y: auto;
}

.main-content {
  padding: 4rem;

  section {
    margin-bottom: 3em;
  }
}

.navbar {
  margin-bottom: 3em;
}

a {
  color: white;
  border-color: white;
  &:focus {
    border-color: inherit;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px !important;
  }
}
