
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand">Soundhive</a>

    <a *ngIf="this.authService.isLoggedIn" class="p-2 text-dark"
      >User Profile</a
    >
    <a
      *ngIf="!this.authService.isLoggedIn"
      class="p-2 text-dark"
      routerLinkActive="active"
      routerLink="/log-in"
      >Sign in</a
    >

    <a
      *ngIf="!this.authService.isLoggedIn"
      class="btn btn-outline-primary"
      routerLinkActive="active"
      routerLinkActive="active"
      routerLink="/sign-up"
      >Sign up</a
    >
    <button
      (click)="logout()"
      *ngIf="this.authService.isLoggedIn"
      type="button"
      class="btn btn-danger"
    >
      Logout
    </button>
  </div>
</nav>

<router-outlet></router-outlet>
