.description-section {
  margin-bottom: 60px;
}

.album-list-container {
  min-height: 100vh;
}

.pagination {
  margin-top: 1rem;
}

.no-caps {
  text-transform: initial;
}

.profile-pic {
  margin-right: 1rem;
  img {
    max-width: 200px;
  }
}

.user-info {
  padding-top: 1rem;
}
