<div class="container-fluid">
    <section class="description-section">
        <h1 class="mb-4">User Profile</h1>
        <p><strong>Name:</strong> {{this.currentUser.name}}</p>
        <p><strong>Username:</strong> {{this.currentUser.username}}</p>
    </section>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="w-100" *ngIf="this.currentUser">
                <app-track></app-track>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="w-100" *ngIf="this.currentUser">
                <app-album></app-album>
            </div>
        </div>
    </div>
</div>
