<div class="container-fluid">
    <section class="description-section">
        <h1 class="mb-4 no-caps">
            {{ this.user.name }} (@{{ this.user.username }})
        </h1>
        <p><strong>Joined:</strong> {{ this.user.createdAt | date }}</p>
        <p><strong>Followers:</strong> {{ this.user.followerCount }}</p>
        <p><strong>Followings:</strong> {{ this.user.followingCount }}</p>

        <button
            *ngIf="!this.self && !this.user.following"
            type="button"
            class="btn btn-outline-primary"
            (click)="follow()"
        >
            Follow
        </button>

        <button
            *ngIf="!this.self && this.user.following"
            type="button"
            class="btn btn-primary"
            (click)="unfollow()"
        >
            Unfollow
        </button>
    </section>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="w-100" *ngIf="this.user">
                <section>
                    <h3 class="section-title mb-4">All Tracks</h3>

                    <div
                        class="track-list"
                        *ngIf="tracks.items.length > 0; else elseBlock"
                    >
                        <app-track
                            *ngFor="let track of tracks.items"
                            [track]="track"
                        ></app-track>
                    </div>

                    <ng-template #elseBlock>
                        No track to display.
                    </ng-template>

                    <div class="col-md-7 mx-auto pagination">
                        <pagination
                            [(ngModel)]="currentTracksPage"
                            (pageChanged)="changeTracksPage($event)"
                            [totalItems]="tracks.meta.totalItems"
                            [itemsPerPage]="tracks.meta.itemsPerPage"
                        ></pagination>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="w-100" *ngIf="this.user">
                <section>
                    <h3 class="section-title mb-4">All Albums</h3>

                    <div class="container-fluid album-list-container">
                        <div
                            class="row"
                            *ngIf="albums.items.length > 0; else elseBlock"
                        >
                            <div
                                class="col-sm-12 col-md-4"
                                *ngFor="let album of albums.items"
                            >
                                <app-album [album]="album"></app-album>
                            </div>
                        </div>
                        <ng-template #elseBlock>
                            No album to display.
                        </ng-template>

                        <div class="col-md-4 mx-auto pagination">
                            <pagination
                                [(ngModel)]="currentAlbumsPage"
                                (pageChanged)="changeAlbumsPage($event)"
                                [totalItems]="albums.meta.totalItems"
                                [itemsPerPage]="albums.meta.itemsPerPage"
                            ></pagination>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
