<div class="container-fluid">
    <section class="description-section">
        <h1 class="mb-4">User Profile</h1>
        <p><strong>Name:</strong> {{ this.user.name }}</p>
        <p><strong>Username:</strong> {{ this.user.username }}</p>

        <button
            *ngIf="!this.self && !this.user.following"
            type="button"
            class="btn btn-outline-primary"
            (click)="follow()"
        >
            Follow
        </button>

        <button
            *ngIf="!this.self && this.user.following"
            type="button"
            class="btn btn-primary"
            (click)="unfollow()"
        >
            Unfollow
        </button>
    </section>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="w-100" *ngIf="this.user">
                <section>
                    <h3 class="section-title mb-4">All Tracks</h3>

                    <div
                        class="track-list"
                        *ngIf="tracks.length > 0; else elseBlock"
                    >
                        <app-track
                            *ngFor="let track of tracks"
                            [track]="track"
                        ></app-track>
                    </div>

                    <ng-template #elseBlock>
                        No track to display.
                    </ng-template>
                </section>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="w-100" *ngIf="this.user">
                <section>
                    <h3 class="section-title mb-4">All Albums</h3>

                    <div class="container-fluid album-list-container">
                        <div
                            class="row"
                            *ngIf="albums.length > 0; else elseBlock"
                        >
                            <div
                                class="col-sm-12 col-md-4"
                                *ngFor="let album of albums"
                            >
                                <app-album [album]="album"></app-album>
                            </div>
                        </div>
                        <ng-template #elseBlock>
                            No album to display.
                        </ng-template>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
