<div class="left-side col-md-2">
    <img src="/assets/logo/svg/logo-white.svg" class="text-center" style="max-width: 150px;" alt="Soundhive logo">
    <div class="browse-music-section">
        <p class="lead browse-music-section-title">BROWSE MUSIC</p>
        <ul>
            <li>
                <a href="#">
                    <span class="mdi mdi-music-note"></span>
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-headphones" aria-hidden="true"></i>
                    Subscriptions
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    Charts
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-podcast" aria-hidden="true"></i>
                    Discover
                </a>
            </li>
        </ul>
    </div>

    <div class="your-music-section">
        <p class="lead your-music-section-title">YOUR MUSIC</p>
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    Songs
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    Albums
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    Activity
                </a>
            </li>
        </ul>
    </div>

    <div class="playlists-section">
        <div style="display: flex;">
            <p class="lead playlists-section-title">PLAYLISTS</p>
            <a href="#">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </div>

        <ul>
            <li><a href="#">Summer playlist</a></li>
            <li><a href="#">Workout</a></li>
            <li><a href="#">All times favorites</a></li>
            <li><a href="#">Road trip</a></li>
            <li><a href="#">Post Rock</a></li>
        </ul>
    </div>
</div>
