<div class="filter-black text-center">
    <img src="http://localhost:4200/assets/logo/svg/logo-white.svg" />
</div>

<p>
    Become part of the best music community by posting your creations through
    our dedicated client !
</p>

<p>Our client is available for all major desktop platforms:</p>

<ul>
    <li>
        <a
            href="https://soundhive.s3.fr-par.scw.cloud/soundhive-gui-windows.jar"
            >Windows GUI</a
        >
    </li>
    <li>
        <a href="https://soundhive.s3.fr-par.scw.cloud/soundhive-gui-macos.jar"
            >macOS GUI</a
        >
    </li>
    <li>
        <a href="https://soundhive.s3.fr-par.scw.cloud/soundhive-gui-linux.jar"
            >Linux GUI</a
        >
    </li>
    <li>
        <a
            href="https://soundhive.s3.fr-par.scw.cloud/soundhive-cli-windows.jar"
            >Windows CLI</a
        >
    </li>
    <li>
        <a href="https://soundhive.s3.fr-par.scw.cloud/soundhive-cli-macos.jar"
            >macOS CLI</a
        >
    </li>
    <li>
        <a href="https://soundhive.s3.fr-par.scw.cloud/soundhive-cli-linux.jar"
            >Linux CLI</a
        >
    </li>
</ul>

<p>
    When launching the client, just log in using the same credentials your
    registered with, and start uploading your music !
</p>
