<div class="filter-black text-center">
    <img src="http://localhost:4200/assets/logo/svg/logo-white.svg" />
</div>

<p>
    Become part of the best music community by posting your creations through
    our dedicated client !
</p>

<p>Our client is available for all major desktop platforms:</p>

<ul>
    <li><a href="">Windows</a></li>
    <li><a href="">macOS</a></li>
    <li><a href="">Linux</a></li>
</ul>

<p>
    When launching the client, just log in using the same credentials your
    registered with, and start uploading your music !
</p>
