@import '../../../variables';

.track-container {
  padding: 10px;
  background-color: $gray-light;
  margin-bottom: 7px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.034);

  .track-cover {
    height: 45px;
    width: 45px;
  }

  .track-title {
    &:hover {
      cursor: pointer;
    }
  }

  .track-duration {
    font-size: 12px;
  }

  .track-listen-count {
    font-size: 12px;
  .track-play-button {
    padding: 0;
    button {
      border-radius: 5px;
    }
  }

  .track-dots-options {
    span {
      cursor: pointer;
    }
  }
}

.pr-3,
.px-3 {
  padding-right: 2rem !important;
}
