<div class="track-container container rounded">
    <div class="row pl-3 pr-3">
        <img
            src="https://via.placeholder.com/100x200"
            class="track-cover rounded"
            alt="track cover"
        />
        <div
            class="track-title font-weight-bold align-self-center text-left col-sm-8"
        >
            {{ track.title }}
        </div>
        <div class="track-duration align-self-center text-center col-sm-1">
            4:35
        </div>
        <div class="track-listen-count align-self-center text-center col-sm-1">
            240,780
        </div>
        <div class="track-dots-options align-self-center text-center col-sm-1">
            <span class="mdi mdi-dots-horizontal col-sm-1"></span>
        </div>
    </div>
</div>
