<div class="track-container container rounded">
    <div class="row pl-3 pr-3">
        <img
            src="{{ s3Endpoint }}/{{ s3Bucket }}/{{
                track.album.coverFilename
            }}"
            class="track-cover rounded col-sm-2"
            alt="track cover"
        />
        <div
            class="track-title font-weight-bold align-self-center text-left col-sm-8"
            (click)="onClick(track)"
        >
            {{ track.title }}
        </div>
        <div class="track-duration align-self-center text-center col-sm-1">
            {{ track.duration | secondsToMinutes }}
        </div>
        <div class="track-listen-count align-self-center text-center col-sm-1">
            240,780
        </div>
        <div class="track-dots-options align-self-center text-center col-sm-1">
            <span class="mdi mdi-dots-horizontal col-sm-1"></span>
        </div>
    </div>
</div>
