<h1 class="mb-4">New Playlist</h1>

<div class="container-fluid">
    <form [formGroup]="playlistsForm" (ngSubmit)="onSubmitPlaylistsForm()">
        <fieldset>
            <div class="form-group">
                <label for="playlistTitleInput">Title</label>
                <input
                    type="text"
                    class="form-control"
                    id="playlistTitleInput"
                    placeholder="Give it a title!"
                    formControlName="title"
                />
            </div>
            <div class="form-group">
                <label for="playlistDescriptionInput">Description</label>
                <textarea
                    class="form-control"
                    id="playlistDescriptionInput"
                    rows="3"
                    placeholder="Give it a description! (optional)"
                    formControlName="description"
                ></textarea>
            </div>
            <!--            <div class="form-group">-->
            <!--                <label for="playlistCoverImageFileInput">Cover image file</label>-->
            <!--                <input type="file" class="form-control-file" id="playlistCoverImageFileInput" formControlName="coverImageFile">-->
            <!--                <small id="fileHelp" class="form-text text-muted">File size can not exceed (value)</small>-->
            <!--            </div>-->
            <button
                type="submit"
                class="btn btn-primary mt-4"
                [disabled]="playlistsForm.invalid"
            >
                Create playlist
            </button>
        </fieldset>
    </form>
</div>
